<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uda Airways</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: updateFlight"></div>
	<br>&nbsp;&nbsp;&nbsp;
	<button type="button" class="btn btn-large btn-success"
		style="width: 9%;" th:attr="onClick=|window.location.href='/'|">Home</button>
	<br>
	<h2 th:style="${'color: green;'}" class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data
		Berhasil Diperbaharui!</h2>
	<br>
	<div class="container-fluid" style="width: 130%;">
		<div class="row">
			<div class="col-xs-4 col-lg-4">
				<div class="card">
					<div class="card-header">
						<center>
							<b>Data Penerbangan</b>
						</center>
					</div>
					<form th:action="@{/pilot/view}" method="POST">
						<div class="card-body">
							<table>
								<tr th:style="'font-weight: bold;'">
									<td><label class="text-left" for="flightNumber">Flight
											Number</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><label th:text="${fNumb}"></label></td>
								</tr>
								<tr th:style="'font-weight: bold;'">
									<td><label class="text-left" for="origin">Origin</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><label th:text="${origin}"></label></td>
								</tr>
								<tr th:style="'font-weight: bold;'">
									<td><label for="destination">Destination</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><label th:text="${dest}"></label></td>
								</tr>
								<tr th:style="'font-weight: bold;'">
									<td><label for="time">Time</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><label th:text="${time}"></label></td>
								</tr>
							</table>
							<br>
							<table>
								<thead>
									<tr>
										<td>
											<form th:action="@{/pilot/updates/${lNumb}}" method="POST">
												<button type="button" class="btn btn-large btn-success"
													style="width: 105px;"
													th:attr="onClick=|window.location.href='/flight/updates/${fNumb}'|">Edit
													This</button>
											</form>
										</td>
										<td><button type="button"
												class="btn btn-large btn-success"
												th:attr="onClick=|window.location.href='/flight/add/${lNumber}'|">Input
												Again</button></td>
									</tr>
								</thead>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>