<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uda Airways</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: flightDelete"></div>
	<br>&nbsp;&nbsp;&nbsp;
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
		<div class="container" style="padding-left: 355px;">
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 435px;">
						<div class="card-header" th:style="'background: #c6f7c3;'">
							<center>
								<h2 style="color:#083805;">
									<b>Data Berhasil Dihapus!</b>
								</h2>
							</center>
						</div>
						<form th:style="'background: #4ef442'">
							<div class="card-body" th:style="'background: #dff7de;'">
								<center>
									<table>
										<tr>
										</tr>
									</table>
								</center>
								<center>
									<table>
										<thead>
											<tr>
												<td>

													<button type="button" class="btn btn-large btn-success"
														style="width: 100px; font-weight: bold;"
														th:attr="onClick=|window.location.href='/pilot/view?licenseNumber=${lNumb}'|">Go
														Back</button>
												</td>
											</tr>
										</thead>
									</table>
								</center>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</center>
</body>
</html>