<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uda Airways</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<div th:replace="fragments/fragment :: updateFlight"></div>
	<br>&nbsp;&nbsp;&nbsp;
	<button type="button" style="width: 9%;"
		class="btn btn-large btn-success"
		th:attr="onClick=|window.location.href='/'|">Back</button>
	<br>
	<br>
	<div class="container" style="padding-left: 395px;">
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 395px;">
					<div class="card-header">
						<center>
							<b><h3>Update Penerbangan</h3></b>
						</center>
					</div>
					<form th:action="@{/flight/updates/}" th:object="${flight}"
						method="POST">
						<input type="hidden" name="licenseNumber" th:value="${license_number}" />
						<input type="hidden" name="flightNumber" th:value="${fNumb}" />
						<div class="card-body">
							<table>
								<tr height="55" th:style="'font-weight: bold;'">
									<td><label class="text-left" for="flightNumber">Flight
											Number</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><input type="text" name="flightNumber"
										th:value="${fNumb}" disabled="disabled" class="form-control" /></td>
								</tr>
								<tr height="55" th:style="'font-weight: bold;'">
									<td><label class="text-left" for="origin">Origin</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><input type="text" name="origin" th:value="${origin}"
										class="form-control" /></td>
								</tr>
								<tr height="55" th:style="'font-weight: bold;'">
									<td><label for="destination">Destination</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><input type="text" name="destination"
										th:value="${dest}" class="form-control" /><br></td>
								</tr>
								<tr height="55" th:style="'font-weight: bold;'">
									<td><label for="time">Time</label></td>
									<td><label>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
									<td><input type="date" name="time" th:value="${time}"
										class="form-control" /></td>
								</tr>
							</table>
							<br>
							<center>
								<button type="submit" class="btn btn-large btn-success"
									style="width: 105px;">Submit</button>
							</center>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>